@{
    Layout = null;
}
<div class="add-folder-popup-container">
    <div class="field">
        <div class="lable">Tên Folder: </div>
        <div class="value">
            <input type="text" name="name"/>
        </div>
    </div>

</div>