
@{
    Layout = null;
}

<div class="add-file-popup-container">
    <div class="field">
        <div class="lable">Chọn file: </div>
        <div class="value">
            <input type="text" name="name" />
        </div>
    </div>

</div>